.container{
    padding: 4rem;
    display: flex;
    justify-content: space-between;
}
.photo{
    width: 50%;
    height: 50%;
}
.nav-links{
    display: flex;
    justify-content: space-evenly;
}
.nav-links li{
    text-decoration: none;
}